<!-- <ion-header>
  <ion-toolbar style="color: #fff;">
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ion-padding">
    <h1>&nbsp;</h1>
    <ion-text style="text-align:center;">
      <h1 style="color:#724FFC;">Welcome to Digital Technique</h1>
      <p style="color: #fff;">Explore a new way of learning.</p>
    </ion-text>
    <ion-item style="color: #fff;">
      <ion-label position="floating">Username</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item style="color: #fff;">
      <ion-label position="floating">Password</ion-label>
      <ion-input type='password'></ion-input>
    </ion-item>
    <p>&nbsp;</p>
    <ion-button color="tertiary" expand="block" href="/home">Sign In</ion-button>
    <!-- <ion-text><a style="color: #fff;"  style="text-align:center !important;" href="/register">Don't have account? Register now.</a></ion-text> -->
    
      
    </div>
</ion-content>

<ion-footer>
  <!-- Code written by <a href="www.kacangweb.com">KacangWeb</a> -->
</ion-footer>
