<ion-header>
  <ion-toolbar style="color:#fff;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" style="line-height: 25px !important;">

    <p>1. When expressed in hexadecimal an octal value of 54 is same as:</p>
    <ul style="list-style-type: none;">
      <li>A)  2C</li>
      <li>B)  2F</li>
      <li>C)  4F</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>2. The binary number 10100111 is equivalent to:</p>
    <ul style="list-style-type: none;">
      <li>A)  107 decimal</li>
      <li>B)  147 decimal</li>
      <li>C)  167 decimal</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>3. By adding 1011<sub>2</sub> to 1101<sub>2</sub> the correct binary result would be :</p>
    <ul style="list-style-type: none;">
      <li>A)  11000</li>
      <li>B)  11101</li>
      <li>C)  10111</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>4. What is the result in BCD when 48<sub>10</sub> is added to 64<sub>10</sub> ?</p>
    <ul style="list-style-type: none;">
      <li>A)  0001 0001 0010</li>
      <li>B)  1000 1010 1000</li>
      <li>C)  0100 1000 0110</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>5. What is the addition of 4CF<sub>16</sub> to A39<sub>16</sub> ?</p>
    <ul style="list-style-type: none;">
      <li>A)  CF3<sub>16</sub></li>
      <li>B)  F08<sub>16</sub></li>
      <li>C)  A6F<sub>16</sub></li>
    </ul>

    <h1>&nbsp;</h1>

    <p>6. Which of the statement below regarding De Morgan’s rules is TRUE?</p>
    <ul style="list-style-type: none;">
      <li>A)  Valid for any number of inputs</li>
      <li>B)  When an input or output line on a logic gate has NO bubble on it, the line is said to be active-low.</li>
      <li>C)  When an input or output line on a logic gate has bubble on it, the line is said to be active-high.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>7. What is the addition of 4CF<sub>16</sub> to A39<sub>16</sub> ?</p>
    <ul style="list-style-type: none;">
      <li>A)  <br><img src="./assets/exercise/001.png" alt="image" height="auto" width="50%"></li>
      <li>B)  <br><img src="./assets/exercise/002.png" alt="image" height="auto" width="50%"></li>
      <li>C)  <br><img src="./assets/exercise/003.png" alt="image" height="auto" width="50%"></li>
    </ul>

    <h1>&nbsp;</h1>

    <p>8. If given the parameters for 2 inputs gates are as below, which gate can best describe it?</p>
    <ul style="list-style-type: none;">
      <li>i.  If all inputs are 0, the output will be 0</li>
      <li>ii.  If one of the input is 1, the output will be 1</li>
      <li>iii.  If one of the input is 0, the output will be 1</li>
    </ul>
    <ul style="list-style-type: none;">
      <li>A)  AND</li>
      <li>B)  OR</li>
      <li>C)  NOT</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>9. Output (x) for the diagram below is _____ if input A=1, B=0, C=0 </p>
    <img src="./assets/exercise/004.png" alt="image" height="auto" width="50%" class="center">
    <ul style="list-style-type: none;">
      <li>A)  HIGH</li>
      <li>B)  LOW</li>
      <li>C)  INVALID</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>10. Output (x) for the diagram below is ____ if input A=0, B=1, C=1, D=0</p>
    <img src="./assets/exercise/005.png" alt="image" height="auto" width="50%" class="center">
    <ul style="list-style-type: none;">
      <li>A)  HIGH</li>
      <li>B)  LOW</li>
      <li>C)  INVALID</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>11. The diagram below relates to the timing requirements of a clocked flip flop. The time interval between positions A and B is known as _____</p>
    <img src="./assets/exercise/006.png" alt="image" height="auto" width="50%" class="center">
    <ul style="list-style-type: none;">
      <li>A)  Hold time</li>
      <li>B)  Propagation delay time</li>
      <li>C)  Setup time</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>12. In order to operate in toggle mode, a clocked JK flip flop should have which of the following signals present at its input terminals?</p>
    <ul style="list-style-type: none;">
      <li>A)  Low on both J and K terminals in the presence of the correct clock pulse.</li>
      <li>B)  High on both J and K terminals in the presence of the correct clock pulse.</li>
      <li>C)  J high and K low in the presence of the correct clock pulse.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>13. With reference to a clocked SC flip flop. Output, Q will be set to 1 when the input S (SET) is :</p>
    <ul style="list-style-type: none;">
      <li>A)  0 while the input R (RESET) is 1 with a positive going transition.</li>
      <li>B)  1 while the input R (RESET) is 0 with a positive going transition.</li>
      <li>C)  0 while the input R (RESET) is 1 with a negative going transition.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>14. When a simple RS flip flop is constructed from two NAND gates, it _____ </p>
    <ul style="list-style-type: none;">
      <li>A)  Has an ambiguous state with two zeros on its inputs.</li>
      <li>B)  Has an ambiguous state with two ones on its inputs.</li>
      <li>C)  Has no ambiguous state </li>
    </ul>

    <h1>&nbsp;</h1>

    <p>15. The output of an analogue to digital converter is a digital number which is____</p>
    <ul style="list-style-type: none;">
      <li>A)  A digital code which represents the analogue input.</li>
      <li>B)  A direct reading of the input level.</li>
      <li>C)  Proportional to the input frequency.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>16. The resolution of a digital to analogue converter is determined by ______</p>
    <ul style="list-style-type: none;">
      <li>A)  The most significant bit weight.</li>
      <li>B)  The weight of the least significant bit.</li>
      <li>C)  The number of bits in each input word.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>17. Which of the following analogue to digital converters is NOT suitable for high speed applications?</p>
    <ul style="list-style-type: none;">
      <li>A)  Successive approximation types.</li>
      <li>B)  Digital ramp type.</li>
      <li>C)  Rate slipped approximation types.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>18. Determine Vout for the diagram below for input 11001 if Vref=6V.</p>
    <img src="./assets/exercise/007.png" alt="image" height="auto" width="50%" class="center">
    <ul style="list-style-type: none;">
      <li>A)  Hold time</li>
      <li>B)  Propagation delay time</li>
      <li>C)  Setup time</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>19. A dynamic RAM has an advantage over static RAM in that it;</p>
    <ul style="list-style-type: none;">
      <li>A)  uses more power. </li>
      <li>B)  has a larger capacity per given area.</li>
      <li>C)  has a faster access time. </li>
    </ul>

    <h1>&nbsp;</h1>

    <p>20. One form of the Read Only Memory (ROM) is the EPROM which is generally erased using___</p>
    <ul style="list-style-type: none;">
      <li>A)  heat.</li>
      <li>B)  Magnetic Field. </li>
      <li>C)  Ultraviolet light.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>21. The section of a computer that interprets instruction words is the_____</p>
    <ul style="list-style-type: none;">
      <li>A)  Control unit</li>
      <li>B)  ALU.</li>
      <li>C)  I/O unit</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>22. The time needed to write one word into memory or read one word out of memory is referred to as______</p>
    <ul style="list-style-type: none;">
      <li>A)  Access time.</li>
      <li>B)  Data transfer time.</li>
      <li>C)  Cycle time.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>23. What is a <b>STATIC</b> memory device?</p>
    <ul style="list-style-type: none;">
      <li>A)  Stores data as long as power is applied.</li>
      <li>B)  Requires regular refreshing to prevent data from being lost.</li>
      <li>C)  Is a non volatile device unlike dynamic memory.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>24.  Which is <b>NOT</b> true about ARINC 429 specification?</p>
    <ul style="list-style-type: none;">
      <li>A)  point to point data bus</li>
      <li>B)  uses bidirectional data bus standard</li>
      <li>C)  consist of pair of twisted wire with shielding</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>25.  Which is <b>NOT</b> part of ARINC 429 word format?</p>
    <ul style="list-style-type: none;">
      <li>A)  Parity bit</li>
      <li>B)  Label</li>
      <li>C)  Info</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>26. Sign Status Matrix (SSM) occupies which bit in ARINC 429 word format?</p>
    <ul style="list-style-type: none;">
      <li>A)  29,30,31 for binary and 30,31 for BCD</li>
      <li>B)  11-28 for binary and 11-29 for BCD</li>
      <li>C)  1-8 for binary and BCD</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>27. In ARINC 429, the data will be transmitted in the order of</p>
    <ul style="list-style-type: none;">
      <li>A)  LABEL,  SDI ,DATA FIELD</li>
      <li>B)  SDI, DATA FIELD, LABEL</li>
      <li>C)  DATA FIELD,  LABEL, SDI</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>28. Losses in fibre optic data cable increase when:</p>
    <ul style="list-style-type: none;">
      <li>A)  a low data rate is used</li>
      <li>B)  the cable is kept as short as possible</li>
      <li>C)  the cable is bent round a small radii</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>29. Fibre optic data cables are:</p>
    <ul style="list-style-type: none;">
      <li>A)  bidirectional</li>
      <li>B)  unidirectional</li>
      <li>C)  simplex</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>30. A significant advantage of fibre optic networks is:</p>
    <ul style="list-style-type: none;">
      <li>A)  reduced weight</li>
      <li>B)  lower installation costs</li>
      <li>C)  ease of maintenance</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>31.  Fibre optic cables use:</p>
    <ul style="list-style-type: none;">
      <li>A)  a reflective cladding</li>
      <li>B)  a refractive cladding</li>
      <li>C)  an opaque cladding</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>32. When compared with other physical bus connecting methods, optical fibre offers:</p>
    <ul style="list-style-type: none;">
      <li>A)  wide bandwidth and low loss</li>
      <li>B)  wide bandwidth and high loss</li>
      <li>C)  Narrow bandwidth and low noise</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>33. A by-product of friction is _______</p>
    <ul style="list-style-type: none;">
      <li>A)  Magnetic field</li>
      <li>B)  Current</li>
      <li>C)  Heat</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>34. Electrostatic discharge happened because _______ materials received ________ levels of charge</p>
    <ul style="list-style-type: none;">
      <li>A)  Different, different</li>
      <li>B)  Different, same</li>
      <li>C)  Same, same</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>35. Which of the following is TRUE concerning ESD and humidity?</p>
    <ul style="list-style-type: none;">
      <li>A)  ESD buildup is greatly increased in a humid environment</li>
      <li>B)  As the presence of moisture in the air is decreased, electrons are better able to discharge safely into the air instead of another object</li>
      <li>C)  Using a humidifier to increase the air moisture in your work area can greatly reduce ESD buildup.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>36. ________ layer in anti static bags helps conduct ESD across surface of bags to ground very quickly</p>
    <ul style="list-style-type: none;">
      <li>A)  Metal</li>
      <li>B)  Carbon</li>
      <li>C)  Plastic</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>37. ________ is software failure level that is significant and may leads to passenger discomfort rather than injuries</p>
    <ul style="list-style-type: none;">
      <li>A)  Major</li>
      <li>B)  Minor</li>
      <li>C)  No effect</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>38. Data that is field loadable into target hardware database is _______</p>
    <ul style="list-style-type: none;">
      <li>A)  Aircraft Field Loadable Software</li>
      <li>B)  Database Field Loadable Software</li>
      <li>C)  Loadable Software Aircraft Part</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>39. ________ is software (executable code) that can be loaded without removing the system or equipment from the aircraft.</p>
    <ul style="list-style-type: none;">
      <li>A)  Aircraft Field Loadable Software</li>
      <li>B)  Database Field Loadable Software</li>
      <li>C)  Loadable Software Aircraft Part</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>40. Which of the following is NOT part of basic T instrument display layout?</p>
    <ul style="list-style-type: none;">
      <li>A)  Airspeed indicator</li>
      <li>B)  Altimeter</li>
      <li>C)  Vertical Speed Indicator</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>41. Weather Radar information is display on</p>
    <ul style="list-style-type: none;">
      <li>A)  Primary Flight Display (PFD)</li>
      <li>B)  Navigation Display (ND)</li>
      <li>C)  EICAS display</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>42. What is the information available on Pilot Center Instrument Panel?</p>
    <ul style="list-style-type: none;">
      <li>A)  Crew Alerting Warning</li>
      <li>B)  Attitude Display</li>
      <li>C)  Electronic Horizontal Situation Indicator</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>43. The Electronic Instrument Display signal is generated according to</p>
    <ul style="list-style-type: none;">
      <li>A)  Symbol Generator</li>
      <li>B)  Power Generator</li>
      <li>C)  Analogue Generator</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>44. Which deflection system in interlace scanning method that requires sawtooth frequency to be double?</p>
    <ul style="list-style-type: none;">
      <li>A)  Vertical deflection system</li>
      <li>B)  Horizontal deflection system</li>
      <li>C)  Both deflection system</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>45. What happen during <b>‘flyback’</b> in raster scanning?</p>
    <ul style="list-style-type: none;">
      <li>A)  The grid shut the electron beam off</li>
      <li>B)  The anode shut the electron beam off</li>
      <li>C)  The cathode shut the electron beam off</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>46. Which is <b>TRUE</b> about LCD type of display?</p>
    <ul style="list-style-type: none;">
      <li>A)  Draw less current than LED type of display</li>
      <li>B)  Faster than LED type of display</li>
      <li>C)  Operate at high voltage</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>47. What happen when there is no current passing through the LCD?</p>
    <ul style="list-style-type: none;">
      <li>A)  Molecules in stable condition</li>
      <li>B)  Molecules starting to vibrate</li>
      <li>C)  None of above</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>48. Which of the following method can prevent EMI wave interference with the components?</p>
    <ul style="list-style-type: none;">
      <li>A)  Plastic Boxes</li>
      <li>B)  Metal Boxes</li>
      <li>C)  Fiber Boxes</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>49. The Electromagnetic Interference (EMI) can be caused by the following EXCEPT</p>
    <ul style="list-style-type: none;">
      <li>A)  The Sun light</li>
      <li>B)  Electrical Circuit</li>
      <li>C)  Permanent magnet</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>50. Electromagnetic Compatibility (EMC) can be describe as</p>
    <ul style="list-style-type: none;">
      <li>A)  Devices that can be magnetize</li>
      <li>B)  Protecting devices from other interferences</li>
      <li>C)  Devices that have poor protection from EMI</li>
    </ul>

    <h1>&nbsp;</h1>
  
  </div>
</ion-content>

<style type="text/css">
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>>
