<ion-header>
  <ion-toolbar style="color:#fff;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-notes"></ion-back-button>
    </ion-buttons>
    <ion-title>Basic Computer Structure</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding" style="line-height: 25px !important;">
		
		<p style="text-transform: uppercase; font-weight: bold;">COMPUTER TERMINOLOGY</p>
		<ul>
			<li><a style="color: crimson;">BIT</a> - A binary digit (BInary digiT).</li>
			<li><a style="color: crimson;">BYTE</a> - Term for 8 bits word.</li>
			<li><a style="color: crimson;">ADDRESS</a> - Numbers indicate the location of a word in computer memory.</li>
			<li><a style="color: crimson;">NIBBLE</a> - Word size of 4 bits (half byte).</li>
			<li><a style="color: crimson;">WORD</a> - The number of bits that constitute a common unit of information as designated by the computer system.</li>
			<li><a style="color: crimson;">SOFTWARE</a> - A program or instruction used to control a computer.</li>
			<li><a style="color: crimson;">OPERAND</a> - <a style="color: crimson;">Data</a> that is operated on by computer as it executes an instruction.</li>
			<li><a style="color: crimson;">OP CODE</a> - An instruction word that tell the computer what to do with OPERAND.</li>
			<li><a style="color: crimson;">HARDWARE</a> - Components inside a computer.</li>
			<li><a style="color: crimson;">FIRMWARE</a> - Program permanently recorded in computer hardware.</li>
			<li><a style="color: crimson;">CPU (Central Processing Unit)</a> - Computer hardware that interprets and executes program instruction.</li>
			<li><a style="color: crimson;">ACCUMULATORS</a> - Register that’s collect the result of computation.</li>
			<li><a style="color: crimson;">IC</a> - Integrated circuit (combination of electronic components built onto a single substrate of semiconductor material.</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">BASIC COMPUTER</p>
		<ul>
			<li>Consists of:
				<ul>
					<li><a style="color: crimson;">CPU</a></li>
					<li><a style="color: crimson;">MEMORY INTERFACE</a></li>
					<li><a style="color: crimson;">INPUT / OUTPUT</a></li>
				</ul>
			</li>
			<li>Layout:
      		<img src="./assets/notes/chapter6/c6-001.png" alt="image" height="auto" width="100%">
			</li>
			<li>Components inserted into circuit board:
      		<img src="./assets/notes/chapter6/c6-002.png" alt="image" height="auto" width="100%">
      		<img src="./assets/notes/chapter6/c6-003.png" alt="image" height="auto" width="100%">
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">CPU</p>
		<ul>
			<li>Consists of:
				<ul>
					<li>
						<a style="color: crimson;">REGISTER</a>
						<ul>
							<li>Consists of a number of storage location where a piece of data is kept OR,</li>
							<li>special memory in microprocessor  called STATUS REGISTER which normally made up of a single bit called FLAGS.</li>
						</ul>
					</li>
					<li>
						<a style="color: crimson;">ALU (Arithmetic Logic Unit)</a>
						<ul>
							<li>Performs the arithmetic and logical operations.</li>
							<li>All calculation are performed in BINARY.</li>
						</ul>
					</li>
					<li>
						<a style="color: crimson;">CONTROL UNIT</a>
						<ul>
							<li>Co-ordinates the internal operation of the microprocessor.</li>
							<li>Control the operation of ALU.</li>
							<li>Generates instructions to execute/perform each program instruction.</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">MEMORY</p>
		<ul>
			<li>A device which stored data or information. Storage can be divided into 2 groups:
				<ul>
					<li>
						<a style="color: crimson;">MAIN MEMORY (INTERNAL)</a>
						<ul>
							<li>Also called WORKING MEMORY which in constant communication with the CPU.</li>
							<li>FAST in operation.</li>
						</ul>
					</li>
					<li>
						<a style="color: crimson;">AUXILIARY MEMORY (EXTERNAL)</a>
						<ul>
							<li>Also called <a style="color: crimson;">MASS STORAGE</a></li>
							<li>Has huge storage capacity and <a style="color: crimson;">NON-VOLATILE</a></li>
							<li>SLOWER  than main memory.</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>2 types of memory:
				<ul>
					<li><a style="color: crimson;">ROM</a></li>
					<li><a style="color: crimson;">RAM</a></li>
				</ul>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">INTERFACE</p>
		<ul>
			<li>Joining of dissimilar devices in a way to allow compatibility and coordination or synchronization of digital data between the computer and the input/output devices.</li>
			<li>Characteristic that should take into consideration:
				<ul>
					<li><a style="color: crimson;">Operation speed</a></li>
					<li><a style="color: crimson;">Data format</a></li>
					<li><a style="color: crimson;">Serial or parallel</a></li>
					<li><a style="color: crimson;">Logic signal and etc</a></li>
				</ul>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">BUS SYSTEM</p>
		<ul>
			<li>Bus system (general)<br>Consists of 3 Buses that carry all data and signal involved in computer’s operation which is <a style="color: crimson;">ADDRESS BUS, DATA BUS, CONTROL BUS</a>.</li>
			<li>Layout:
      			<img src="./assets/notes/chapter6/c6-004.png" alt="image" height="auto" width="100%">
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">ADDRESS BUS</p>
		<ul>
			<li>When  CPU need to communicate with certain memory location of input/output device, it place an appropriate 16 bits <a style="color: crimson;">address code</a> on its 16 bits address output.</li>
			<li>Address bus is <a style="color: crimson;">unidirectional</a>.</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">DATA BUS</p>
		<ul>
			<li>Data bus is <a style="color: crimson;">bidirectional</a> with data to and from CPU.</li>
			<li>During <a style="color: crimson;">READ</a>, the data bus acts as an <a style="color: crimson;">INPUT</a> to the CPU.</li>
			<li>During <a style="color: crimson;">WRITE</a>, the data bus acts as an <a style="color: crimson;">OUTPUT</a> to the CPU.</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">CONTROL BUS</p>
		<ul>
			<li>The control bus synchronizes the activities of the microcomputer.
			<ul>
				<li><a style="color: crimson;">RES</a> : When LOW, causes the CPU to RESET at a particular start state.</li>
				<li><a style="color: crimson;">INT</a> : Comes from input/output device, telling the computer that it wants to ‘butt in’ (interrupt).</li>
				<li><a style="color: crimson;">R/W</a> : Read don’t write.</li>
			</ul>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">OPERATION OF BUS SYSTEM</p>
		<p>When it is desired to read the contents of a particular memory location :</p>
		<ul>
			<li>CPU sends out the address of that location on the <a style="color: crimson;">address bus</a> and a ‘memory read’ control signal on <a style="color: crimson;">the control bus</a>.</li>
			<li>The memory responds by outputting data stored in the addressed memory location onto the data bus.</li>
			<li>‘Interrupt’ <a style="color: crimson;">from control bus</a> tells the CPU that an external device needs to be read or serviced.</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">INSTRUCTION WORDS</p>
		<ul>
			<li>There are 2 main types of instruction Words:
				<ul>
					<li><a style="color: crimson;">Single Address Instruction Word</a>
						<ul>
							<li>Consist of an OP CODE and an OPERAND address. Example :
      							<img src="./assets/notes/chapter6/c6-005.png" alt="image" height="auto" width="100%">
							</li>
						</ul>
					</li>
					<li><a style="color: crimson;">Multi Address Instruction Word</a>
						<ul>
							<li>Consist of an <a style="color: crimson;">OP CODE</a> and <a style="color: crimson;">more than 1 OPERAND</a> address.</li>
							<li>A two address instruction word has an OP CODE and addresses for both OPERANDS needed to take part in the operation.</li>
							<li>Example : 2+3 ; ADD = OP CODE, 2 = First OPERAND, 3 = Second
      							<img src="./assets/notes/chapter6/c6-006.png" alt="image" height="auto" width="100%">
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>Example of instructions for OPCODE:
				<ul>
					<li>Arithmetic such as <a style="color: crimson;">add</a> and <a style="color: crimson;">subtract</a>.</li>
					<li>Logic instructions such as <a style="color: crimson;">and, or,</a> and <a style="color: crimson;">not</a>.</li>
					<li>Data instructions such as <a style="color: crimson;">move, input, output, load,</a> and <a style="color: crimson;">store</a>.</li>
				</ul>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">MEMORY TERMS</p>
		<ul>
			<li><a style="color: crimson;">MEMORY CELL</a> - A device or electrical circuit used to store a single bit.</li>
			<li><a style="color: crimson;">MEMORY WORD</a> - A group of bits in a memory that represents instructions or data.</li>
			<li><a style="color: crimson;">CAPACITY/DENSITY</a> - Specifies the number of bits that can be store in a computer memory.</li>
			<li><a style="color: crimson;">READ OPERATION</a> - The operation whereby the binary word stored at a specific memory address is sense and transferred to another device.</li>
			<li><a style="color: crimson;">WRITE OPERATION</a> - The operation whereby a new word is loaded into a particular memory address.</li>
			<li><a style="color: crimson;">ACCESS TIME</a> - A measure of memory devices operating speed.</li>
			<li><a style="color: crimson;">CYCLE TIME</a> - A measure of the entire time required to performed read and write operation.</li>
			<li><a style="color: crimson;">NON-VOLATILE</a> - Keeps storing data when electrical power is removed.</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">TYPE OF MEMORY</p>
		<ul>
			<li><a style="color: crimson;">ROM</a> - Read Only Memory
				<ul>
					<li>PROM</li>
					<li>EPROM</li>
					<li>EEPROM</li>
				</ul>
			</li>
			<li><a style="color: crimson;">RAM</a> - Random Access Memory
				<ul>
					<li>STATIC RAM</li>
					<li>DYNAMIC RAM</li>
				</ul>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">ROM</p>
		<ul>
			<li>Used to <a style="color: crimson;">store data and information that are not change during the normal operation</a>.</li>
			<li>Major used in storage of programs in microcomputers.</li>
			<li>The process of entering data is called programming or burning in the ROM.</li>
			<li><a style="color: crimson;">Non-volatile</a></li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">ROM - PROM</p>
		<p>Programmable ROM</p>
		<ul>
			<li>Manufactured with <a style="color: crimson;">fusible links</a> used as electrical connection in the chip.</li>
			<li>User programmable by burning the desired program.</li>
			<li>Once programmed, <a style="color: crimson;">cannot</a> be reprogrammed again.</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">ROM - EPROM</p>
		<p>Erasable Programmable ROM</p>
		<ul>
			<li>Can be reprogrammed as often as desired.</li>
			<li>Can be erased by exposing the EPROM to <a style="color: crimson;">ultraviolet light</a> through a window on the chip.</li>
			<li>Erasure time is 15 to 30 minutes.</li>
			<li>Erasing operation will erase <a style="color: crimson;">the entire memory</a>.</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">ROM - EEPROM</p>
		<p>Electrical Erasable PROM</p>
		<ul>
			<li>Ability to electrically erased and program <a style="color: crimson;">individual</a> words.</li>
			<li>Erasing and programming are carried out by setting the <a style="color: crimson;">polarities</a> of a charge between the MOSFET <a style="color: crimson;">gate and drain</a></li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">RAM</p>
		<ul>
			<li>Can write and read from RAM.</li>
			<li><a style="color: crimson;">Temporary</a> storage of program or data.</li>
			<li>RAM address constantly changing as computer executes a program.</li>
			<li><a style="color: crimson;">Volatile</a>.</li>
			<li>Often used as internal memory.</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">STATIC RAM</p>
		<ul>
			<li>Can store data as long as power is supplied.</li>
			<li>They are flip-flop’s that will stay in a given state.</li>
			<li>Available in BJT’s or MOSFET.</li>
			<li>BJT’s are faster than MOSFET.</li>
			<li>MOSFET’s have greater capacity and used less power than BJT.</li>
			<li>Required 6 transistor to store 1 bit data.</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">DYNAMIC RAM</p>
		<ul>
			<li>Constructed using MOS technology.</li>
			<li>Required 1 transistor and 1 capacitor to store 1 bit data</li>
			<li>Required <a style="color: crimson;">refresh logic</a> for operation.</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">COMPUTER APPLICATION ON AIRCRAFT</p>
		<ul>
			<li><a style="color: crimson;">FMC (Flight Management Computer)</a></li>
			<li><a style="color: crimson;">EFIS (Electronic Flight Instrument System)</a></li>
			<li><a style="color: crimson;">EICAS (Engine Indication and Crew Alerting System)</a></li>
			<li><a style="color: crimson;">AUTOPILOT</a></li>
		</ul>

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold; text-align: center;"><-- END OF NOTES --></p>

	</div>
</ion-content>
