<ion-header>
  <ion-toolbar style="color:#fff;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mid-Sem Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" style="line-height: 25px !important;">

    <p>&bull; When expressed in hexadecimal an octal value of 54 is same as:</p>
    <ul style="list-style-type: none;">
      <li>A)  2C</li>
      <li>B)  2F</li>
      <li>C)  4F</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; What is the result in BCD when 48<sub>10</sub> is added to 64<sub>10</sub> ?</p>
    <ul style="list-style-type: none;">
      <li>A)  0001 0001 0010</li>
      <li>B)  1000 1010 1000</li>
      <li>C)  0100 1000 0110</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; What is the addition of 4CF<sub>16</sub> to A39<sub>16</sub> ?</p>
    <ul style="list-style-type: none;">
      <li>A)  CF3<sub>16</sub></li>
      <li>B)  F08<sub>16</sub></li>
      <li>C)  A6F<sub>16</sub></li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; What is the addition of 4CF<sub>16</sub> to A39<sub>16</sub> ?</p>
    <ul style="list-style-type: none;">
      <li>A)  <br><img src="./assets/exercise/001.png" alt="image" height="auto" width="50%"></li>
      <li>B)  <br><img src="./assets/exercise/002.png" alt="image" height="auto" width="50%"></li>
      <li>C)  <br><img src="./assets/exercise/003.png" alt="image" height="auto" width="50%"></li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; If given the parameters for 2 inputs gates are as below, which gate can best describe it?</p>
    <ul style="list-style-type: none;">
      <li>i.  If all inputs are 0, the output will be 0</li>
      <li>ii.  If one of the input is 1, the output will be 1</li>
      <li>iii.  If one of the input is 0, the output will be 1</li>
    </ul>
    <ul style="list-style-type: none;">
      <li>A)  AND</li>
      <li>B)  OR</li>
      <li>C)  NOT</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; Output (x) for the diagram below is ____ if input A=0, B=1, C=1, D=0</p>
    <img src="./assets/exercise/005.png" alt="image" height="auto" width="50%" class="center">
    <ul style="list-style-type: none;">
      <li>A)  HIGH</li>
      <li>B)  LOW</li>
      <li>C)  INVALID</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; The diagram below relates to the timing requirements of a clocked flip flop. The time interval between positions A and B is known as _____</p>
    <img src="./assets/exercise/006.png" alt="image" height="auto" width="50%" class="center">
    <ul style="list-style-type: none;">
      <li>A)  Hold time</li>
      <li>B)  Propagation delay time</li>
      <li>C)  Setup time</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; With reference to a clocked SC flip flop. Output, Q will be set to 1 when the input S (SET) is :</p>
    <ul style="list-style-type: none;">
      <li>A)  0 while the input R (RESET) is 1 with a positive going transition.</li>
      <li>B)  1 while the input R (RESET) is 0 with a positive going transition.</li>
      <li>C)  0 while the input R (RESET) is 1 with a negative going transition.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; The output of an analogue to digital converter is a digital number which is____</p>
    <ul style="list-style-type: none;">
      <li>A)  A digital code which represents the analogue input.</li>
      <li>B)  A direct reading of the input level.</li>
      <li>C)  Proportional to the input frequency.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; The resolution of a digital to analogue converter is determined by ______</p>
    <ul style="list-style-type: none;">
      <li>A)  The most significant bit weight.</li>
      <li>B)  The weight of the least significant bit.</li>
      <li>C)  The number of bits in each input word.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; Determine Vout for the diagram below for input 11001 if Vref=6V.</p>
    <img src="./assets/exercise/007.png" alt="image" height="auto" width="50%" class="center">
    <ul style="list-style-type: none;">
      <li>A)  Hold time</li>
      <li>B)  Propagation delay time</li>
      <li>C)  Setup time</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; One form of the Read Only Memory (ROM) is the EPROM which is generally erased using___</p>
    <ul style="list-style-type: none;">
      <li>A)  heat.</li>
      <li>B)  Magnetic Field. </li>
      <li>C)  Ultraviolet light.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; The time needed to write one word into memory or read one word out of memory is referred to as______</p>
    <ul style="list-style-type: none;">
      <li>A)  Access time.</li>
      <li>B)  Data transfer time.</li>
      <li>C)  Cycle time.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; What is a <b>STATIC</b> memory device?</p>
    <ul style="list-style-type: none;">
      <li>A)  Stores data as long as power is applied.</li>
      <li>B)  Requires regular refreshing to prevent data from being lost.</li>
      <li>C)  Is a non volatile device unlike dynamic memory.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; Which is <b>NOT</b> part of ARINC 429 word format?</p>
    <ul style="list-style-type: none;">
      <li>A)  Parity bit</li>
      <li>B)  Label</li>
      <li>C)  Info</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; Sign Status Matrix (SSM) occupies which bit in ARINC 429 word format?</p>
    <ul style="list-style-type: none;">
      <li>A)  29,30,31 for binary and 30,31 for BCD</li>
      <li>B)  11-28 for binary and 11-29 for BCD</li>
      <li>C)  1-8 for binary and BCD</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; A significant advantage of fibre optic networks is:</p>
    <ul style="list-style-type: none;">
      <li>A)  reduced weight</li>
      <li>B)  lower installation costs</li>
      <li>C)  ease of maintenance</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; Fibre optic cables use:</p>
    <ul style="list-style-type: none;">
      <li>A)  a reflective cladding</li>
      <li>B)  a refractive cladding</li>
      <li>C)  an opaque cladding</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; When compared with other physical bus connecting methods, optical fibre offers:</p>
    <ul style="list-style-type: none;">
      <li>A)  wide bandwidth and low loss</li>
      <li>B)  wide bandwidth and high loss</li>
      <li>C)  Narrow bandwidth and low noise</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; A by-product of friction is _______</p>
    <ul style="list-style-type: none;">
      <li>A)  Magnetic field</li>
      <li>B)  Current</li>
      <li>C)  Heat</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; Which of the following is TRUE concerning ESD and humidity?</p>
    <ul style="list-style-type: none;">
      <li>A)  ESD buildup is greatly increased in a humid environment</li>
      <li>B)  As the presence of moisture in the air is decreased, electrons are better able to discharge safely into the air instead of another object</li>
      <li>C)  Using a humidifier to increase the air moisture in your work area can greatly reduce ESD buildup.</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; ________ is software failure level that is significant and may leads to passenger discomfort rather than injuries</p>
    <ul style="list-style-type: none;">
      <li>A)  Major</li>
      <li>B)  Minor</li>
      <li>C)  No effect</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; Which of the following is NOT part of basic T instrument display layout?</p>
    <ul style="list-style-type: none;">
      <li>A)  Airspeed indicator</li>
      <li>B)  Altimeter</li>
      <li>C)  Vertical Speed Indicator</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; What is the information available on Pilot Center Instrument Panel?</p>
    <ul style="list-style-type: none;">
      <li>A)  Crew Alerting Warning</li>
      <li>B)  Attitude Display</li>
      <li>C)  Electronic Horizontal Situation Indicator</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; Which is <b>TRUE</b> about LCD type of display?</p>
    <ul style="list-style-type: none;">
      <li>A)  Draw less current than LED type of display</li>
      <li>B)  Faster than LED type of display</li>
      <li>C)  Operate at high voltage</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; Which of the following method can prevent EMI wave interference with the components?</p>
    <ul style="list-style-type: none;">
      <li>A)  Plastic Boxes</li>
      <li>B)  Metal Boxes</li>
      <li>C)  Fiber Boxes</li>
    </ul>

    <h1>&nbsp;</h1>

    <p>&bull; Electromagnetic Compatibility (EMC) can be describe as</p>
    <ul style="list-style-type: none;">
      <li>A)  Devices that can be magnetize</li>
      <li>B)  Protecting devices from other interferences</li>
      <li>C)  Devices that have poor protection from EMI</li>
    </ul>

    <h1>&nbsp;</h1>

  </div>

</ion-content>

<style type="text/css">
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>>