<ion-header>
    <ion-toolbar style="color: #fff;" >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Quiz List</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- List of Quizes -->
    <ion-list>  
      <ion-item href="/#">
        <ion-label style="color: #fff;"><b>Quiz Chapter 1</b><br><i>Electronic Instrument System</i></ion-label>
      </ion-item>
      <ion-item href="/#">
        <ion-label style="color: #fff;"><b>Quiz Chapter 2</b><br><i>Numbering Systems</i></ion-label>
      </ion-item>
      <ion-item href="/#">
        <ion-label style="color: #fff;"><b>Quiz Chapter 3</b><br><i>Lorem ipsum dolor sit amet</i></ion-label>
      </ion-item>
      <ion-item href="/#">
        <ion-label style="color: #fff;"><b>Quiz Chapter 4</b><br><i>Lorem ipsum dolor sit amet</i></ion-label>
      </ion-item>
      <ion-item href="/#">
        <ion-label style="color: #fff;"><b>Quiz Chapter 5</b><br><i>Lorem ipsum dolor sit amet</i></ion-label>
      </ion-item>
      <ion-item href="/#">
        <ion-label style="color: #fff;"><b>Quiz Chapter 6</b><br><i>Lorem ipsum dolor sit amet</i></ion-label>
      </ion-item>
    </ion-list> 
    <!-- List of Quizes Ends -->
  </ion-content>
  