<ion-header>
  <ion-toolbar style="color:#fff;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-notes"></ion-back-button>
    </ion-buttons>
    <ion-title>Logic Circuit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding" style="line-height: 25px !important;">
		
		<p style="text-transform: uppercase; font-weight: bold;">BOOLEAN CONSTANTS AND VARIABLES</p>
		<ul>
			<li>Allowed 2 binary variables only : 1 & 0. Represent voltages or logic level.</li>
			<li>May represent (in circuit) : ON,CLOSED (logic 1) and OFF,OPEN (logic 0).</li>
			<li>Only 3 operation in Boolean algebra
				<ul>
					<li><a style="color: crimson;">Logical addition (+)</a></li>
					<li><a style="color: crimson;">Logical multiplication (•)</a></li>
					<li><a style="color: crimson;">Logical complementation ( ¯ )</a></li>
				</ul>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">AND GATE</p>
		<ul>
			<li>Logic symbol
      		<img src="./assets/notes/chapter5/c5-001.png" alt="image" height="auto" width="100%">
      		Input  : <a style="color: crimson;">A and B</a><br>
      		Output : <a style="color: primary;">X</a><br>
      		Truth Table :
      		<img src="./assets/notes/chapter5/c5-002.png" alt="image" height="auto" width="100%">
			</li>
			<li>Simplified equivalent AND gate circuits
      		<img src="./assets/notes/chapter5/c5-003.png" alt="image" height="auto" width="100%">
			</li>
			<li>Boolean expression:<br>
				<a style="color: crimson;">A • B = X</a>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">OR GATE</p>
		<ul>
			<li>Logic symbol
      		<img src="./assets/notes/chapter5/c5-004.png" alt="image" height="auto" width="100%">
			</li>
			<li>Truth table
      		<img src="./assets/notes/chapter5/c5-005.png" alt="image" height="auto" width="100%">
			</li>
			<li>Simplified equivalent OR gate circuits
      		<img src="./assets/notes/chapter5/c5-006.png" alt="image" height="auto" width="100%">
			</li>
			<li>Boolean expression:<br>
				<a style="color: crimson;">A + B = X</a>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">NOT GATE</p>
		<ul>
			<li>Also know as <a style="color: crimson;">inverter</a>.</li>
			<li>Logic symbol
      		<img src="./assets/notes/chapter5/c5-007.png" alt="image" height="auto" width="100%">
			</li>
			<li>Truth table
      		<img src="./assets/notes/chapter5/c5-008.png" alt="image" height="auto" width="100%">
			</li>
			<li>Simplified equivalent NOT gate circuits
      		<img src="./assets/notes/chapter5/c5-009.png" alt="image" height="auto" width="100%">
			</li>
			<li>Boolean expression:<br>
				<a style="color: crimson;"><a style="color:crimson; text-decoration: overline;">A</a> = X</a>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">NAND GATE</p>
		<ul>
			<li>Logic symbol
      		<img src="./assets/notes/chapter5/c5-010.png" alt="image" height="auto" width="100%">
			</li>
			<li>Truth table
      		<img src="./assets/notes/chapter5/c5-011.png" alt="image" height="auto" width="100%">
			</li>
			<li>Simplified equivalent NAND gate circuits
      		<img src="./assets/notes/chapter5/c5-012.png" alt="image" height="auto" width="100%">
			</li>
			<li>Boolean expression:<br>
				<a style="color: crimson;"><a style="color:crimson; text-decoration: overline;">AB</a> = X</a>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">NOR GATE</p>
		<ul>
			<li>Logic symbol
      		<img src="./assets/notes/chapter5/c5-013.png" alt="image" height="auto" width="100%">
			</li>
			<li>Truth table
      		<img src="./assets/notes/chapter5/c5-014.png" alt="image" height="auto" width="100%">
			</li>
			<li>Simplified equivalent NOR gate circuits
      		<img src="./assets/notes/chapter5/c5-015.png" alt="image" height="auto" width="100%">
			</li>
			<li>Boolean expression:<br>
				<a style="color: crimson;"><a style="color:crimson; text-decoration: overline;">A + B</a> = X</a>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">BOOLEAN TEOREMS</p>
		<ul>
			<li>Single variable theorems
      		<img src="./assets/notes/chapter5/c5-016.png" alt="image" height="auto" width="100%">
			</li>
			<li>Multivariable theorems
      		<img src="./assets/notes/chapter5/c5-017.png" alt="image" height="auto" width="100%">
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">DE MORGANS RULES</p>
      	<img src="./assets/notes/chapter5/c5-018.png" alt="image" height="auto" width="100%">

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">EXCLUSIVE OR (XOR) GATE</p>
		<ul>
			<li>Logic symbol
      		<img src="./assets/notes/chapter5/c5-019.png" alt="image" height="auto" width="100%">
			</li>
			<li>Truth table
      		<img src="./assets/notes/chapter5/c5-020.png" alt="image" height="auto" width="100%">
			</li>
			<li>Simplified equivalent XOR gate circuits
      		<img src="./assets/notes/chapter5/c5-021.png" alt="image" height="auto" width="100%">
			</li>
			<li>Boolean expression:<br>
				<a style="color: crimson;"><a style="color:crimson; text-decoration: overline;">A</a>B + A<a style="color:crimson; text-decoration: overline;">B</a> = X</a>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">XNOR GATE</p>
		<ul>
			<li>Logic symbol
      		<img src="./assets/notes/chapter5/c5-022.png" alt="image" height="auto" width="100%">
			</li>
			<li>Truth table
      		<img src="./assets/notes/chapter5/c5-023.png" alt="image" height="auto" width="100%">
			</li>
			<li>Simplified equivalent XNOR gate circuits
      		<img src="./assets/notes/chapter5/c5-024.png" alt="image" height="auto" width="100%">
			</li>
			<li>Boolean expression:<br>
				<a style="color: crimson;">AB + <a style="color:crimson; text-decoration: overline;">AB</a> = X</a>
			</li>
		</ul>

      	<h1>&nbsp;</h1>
		
		<p style="text-transform: uppercase; font-weight: bold;">APPLICATION</p>
  		<img src="./assets/notes/chapter5/c5-025.png" alt="image" height="auto" width="100%">
		<ul>
			<li>Consist of 2 <a style="color: crimson;">OR gates</a>gates and an <a style="color: crimson;">AND gate</a>, with logic states received from 7 parameters. When either throttle lever is pushed forward, the switch at that position is made (advance) and there is a logic state 1 to OR gate1. 5 other parameters are sensed and logic states sent to OR gate2.</li>
			<li>If all the other parameters are in the <a style="color: crimson;">take-off position</a>, i.e.
				<ul>
					<li>Slats not fully extended, Flaps in take-off position, Spoiler handle in retract position, Horizontal stabilizer in the green band (correct angle of incidence for take-off). <a style="color: crimson;">Then the inputs to OR gate2 are all logic 0 and its output to the AND gate is logic state 0</a>.</li>
				</ul>
			</li>
			<li>The <a style="color: crimson;">aircraft on ground</a> ground (weight switch) <a style="color: crimson;">gives another logic 1 to the AND gate, which has at this time 2 logic 1’s and a logic 0</a>.</li>
			<li>If either of 4 inputs go out of take-off position eg flaps >25°,then the <a style="color: crimson;">flap input signal to logic gate2 is logic 1 which makes the input to the AND gate logic 1</a>.</li>
			<li><a style="color: crimson;">The AND gate now has 3 logic 1’s which now gives an output to warning circuits (CONFIG light and aural warning).</a></li>
		</ul>

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold; text-align: center;"><-- END OF NOTES --></p>
		
	</div>
</ion-content>
