<ion-header>
  <ion-toolbar style="color:#fff;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-notes"></ion-back-button>
    </ion-buttons>
    <ion-title>Electronic Instrument System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-text mode="ios" style="text-align:center;">
      <h1>Electronic Instrument System</h1>
    </ion-text> -->
    <div class="ion-padding" style="line-height: 25px !important;">

      <p style="text-transform: uppercase; font-weight: bold;">Cabin instrument panel</p>
      <ul>
        <li>All instruments essential to the operation of an aircraft displayed on special panels in view to the aircrew.</li>
        <li>Instruments are grouped according to their function on each panel.</li>
        <li>The number and position of which vary accordance with the number of <a style="color:crimson;">instruments, size of the aircraft, cockpit layout</a>.</li>
        <li>The main instrument panel is positioned in front of the pilot’s normal line of vision and contains the <a style="color:crimson;">primary flight instruments</a>.</li>
        <li>Other panels are <a style="color:crimson;">overhead panel, at the side, on control pedestal located centrally between the pilots</a>.</li>
      </ul>
      <img src="./assets/notes/chapter1/c1-001.png" alt="image" height="auto" width="100%">

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold;">Instrument grouping</p>
      <ul>
        <li>Most aircraft instruments are grouped according to their function.</li>
        <li>All instruments should be grouped on the instrument panel <a style="color:crimson;">symmetrically about the vertical plane of the pilot vision</a>.</li>
      </ul>

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold;">Basic Six</p>
      <p>There are 6 flight instruments that are necessary for the pilot to create a picture of aircraft current flight condition and to carry any control movement. These are: </p>
      <ul style="color:crimson;">
        <li>AIRSPEED INDICATION</li>
        <li>ARTIFICIAL HORIZONTAL</li>
        <li>ALTIMETER</li>
        <li>VERTICAL SPEED INDICATOR</li>
        <li>COURSE INDICATOR</li>
        <li>TURN AND BANK INDICATOR</li>
      </ul>
      <img src="./assets/notes/chapter1/c1-002.jpg" alt="image" height="auto" width="100%">

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold;">Basic T</p>
      <p>With the introduction of newer type of aircraft, the basic 6 layout was reviewed and a grouping known as BASIC T was introduced.</p>
      <p>Within this group of 6, there are 4 key flight instruments placed directly in front of the pilot in a grouping known as the FLIGHT T. The FLIGHT T made of:</p>
      <ul style="color:crimson;">
        <li>AIRSPEED INDICATOR</li>
        <li>ARTIFICIAL HORIZON</li>
        <li>ALTIMETER</li>
        <li>COURSE DIRECTION INDICATOR</li>
      </ul>
      <img src="./assets/notes/chapter1/c1-003.png" alt="image" height="auto" width="100%">

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold;">Engine Instrument</p>
      <p>The positions of the instruments in the engine indicating group are arranged so that those related to each engine are position based on their positions on the aircraft.</p>
      <img src="./assets/notes/chapter1/c1-004.png" alt="image" height="auto" width="100%">

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold;">Electronic Instrument</p>
      <ul>
        <li>Electronic display instruments are basically colour TV displays that are presented according to signals generated by the computer.</li>
        <li>The <a style="color: crimson;">computer</a> are commonly referred to as a SYMBOL GENERATOR.</li>
        <li>The <a style="color: crimson;">display</a> referred to as CRT DISPLAY or MULTI-FUNCTIONAL DISPLAY.</li>
      </ul>

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold;">Electronic Instrument Panel Layout</p>
      <img src="./assets/notes/chapter1/c1-005.png" alt="image" height="auto" width="100%">

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold;">Captain's Main Instrument Panel</p>
      <img src="./assets/notes/chapter1/c1-006.png" alt="image" height="auto" width="100%">
      <ul>
        <li><a style="color: crimson;">PFD – PRIMARY FLIGHT DISPLAY</a>
          <ul>
            <li>Display : Attitude, Flight Director, Altitude and Airspeed</li>
            <li>Also known as EADI (Electronic Attitude Direction Indicator)</li>
          </ul>
        </li>
        <li><a style="color: crimson;">ND – NAVIGATION DISPLAY</a>
          <ul>
            <li>Display : Navigational information and Weather Radar</li>
            <li>Also known as EHSI (Electronic Horizontal Situation Indicator)</li>
          </ul>
        </li>
      </ul>

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold;">F/O’S MAIN INSTRUMENT PANEL</p>
      <img src="./assets/notes/chapter1/c1-007.png" alt="image" height="auto" width="100%">

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold;">PILOT CENTER INSTRUMENT PANEL</p>
      <img src="./assets/notes/chapter1/c1-008.png" alt="image" height="auto" width="100%">
      <ul>
        <li>The center instrument panel is used for <a style="color: crimson;">EICAS/ECAM.</a></li>
        <li>The <a style="color: crimson;">engine parameter</a> and <a style="color: crimson;">aircraft status information</a> are displayed for aircrew.</li>
        <li>The main <a style="color: crimson;">EICAS/ECAM</a> displayed the primary engine parameter such as <a style="color: crimson;">Engine Pressure Ratio (EPR), Engine Gas Temperature (EGT), N1, Thrust mode and Total Air temperature (TAT)</a>.</li>
        <li><a style="color: crimson;">Crew alerting warning, caution, advisory</a> and <a style="color: crimson;">memo messages</a> are also presented on the main display.</li>
        <li>Secondary engine parameter such as <a style="color: crimson;">N2, oil pressure, oil quantity, oil temperature</a> and <a style="color: crimson;">engine vibration</a> are displayed on <a style="color: crimson;">auxiliary display</a>.</li>
      </ul>

      <h1>&nbsp;</h1>

      <p style="text-transform: uppercase; font-weight: bold; text-align: center;"><-- END OF NOTES --></p>

    </div>

</ion-content>
