<!-- <ion-header>
  <ion-toolbar>
    <ion-title style="color: #fff;">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="ion-padding">
    <h1>&nbsp;<br>&nbsp;</h1>
    <ion-text mode="ios" style="text-align:center;">
      <h1 style="color:#724FFC;">Welcome to Digital Technique</h1>
      <p style="color: #ffffff;">Explore a new way of learning.</p>
    </ion-text>
    <ion-button color="tertiary" expand="block" href="/list-notes">Notes</ion-button>
    <ion-button color="tertiary" expand="block" href="/list-quiz">Quizzes</ion-button>
    <ion-button color="tertiary" expand="block" href="https://www.facebook.com/remy.shuuss">Feedback</ion-button>
    <!-- <ion-button color="danger" expand="block" (click)="signoutAlert()">Sign Out</ion-button> -->
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="danger" expand="block" href="/sign-in">Sign Out</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
