<!-- <ion-header>
  <ion-toolbar>
    <ion-title>coming-soon</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ion-padding">
    <h1>&nbsp;<br>&nbsp;</h1>
    <h1>&nbsp;<br>&nbsp;</h1>
    <h1>&nbsp;</h1>
    <ion-text mode="ios" style="text-align:center;">
      <h1 style="color:#724FFC;">Coming Soon</h1>
      <p style="color: #ffffff;">Please wait for our next update.</p>
    </ion-text>
    <ion-button color="tertiary" expand="block" href="/home">Back to Home</ion-button>
  </div>
</ion-content>

